MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_SECURE=true
NODEMAILER_EMAIL=your-smtp-user@example.com
NODEMAILER_PW=your-smtp-password
MAIL_FROM=your-smtp-user@example.com
MAIL_TO=info@asdcephesistemleri.com
