@import "tailwindcss";

:root {
  --background: #071229;
  --foreground: #ffffff;
  --primary: #1F2A44;
  --secondary: #956C58;
  --textgray: #7C7C7C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-textgray: var(--textgray);
  --font-sans: "Onest", sans-serif;
  --font-display: "Roboto", sans-serif;
  --current-color: "#ffffff"
}


@utility container {
  padding-inline: 10px;
  margin-inline: auto;
  @variant sm {
    padding-inline: 0px;
  }
  @variant md {
    padding-inline: 0px;
  }
  @variant lg {
    padding-inline: 0px;
  }
  @variant xl {
    padding-inline: 0px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Dropdown animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.glass-card{
      /* filter: drop-shadow(-8px -10px 46px #0000005f); */
    backdrop-filter: brightness(1.1) 
        blur(20px)
        url(#displacementFilter);
}

.glass-card::before{
  content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    border-radius: 100px;
    -webkit-box-shadow: inset 1px 1px 0px -1px rgba(255, 255, 255, 0.7), 
                        inset 0 0 10px 1px rgba(255, 255, 255, 0.4);
    /* box-shadow: inset 6px 6px 0px -6px rgba(255, 255, 255, 0.7), 
                inset 0 0 8px 1px rgba(255, 255, 255, 0.7); */
}
